<div class="relative grid max-w-screen-xl px-4 py-8 space-y-8 md:grid-cols-7 md:px-8 bg-cream text-navy md:mx-auto" style="--color-text: {{ section.settings.text_color | default: '#000000' }}; --color-bg: {{ section.settings.bg_color | default: '#FFFFFF' }}">

  <div class="grid col-span-5 md:grid-cols-2">
    <div>
      <a aria-label="Back to Library" href="{{blog.url}}">
        <div class="mb-4 text-base font-bold uppercase text-brand">Back To Libary</div>
      </a>
    </div>
    {%- if blog.next_article and blog.next_article != blog.previous_article -%}
      <div class="">
        <a aria-label="Next Article" href="{{ blog.next_article.url }}">
          <div class="mb-4 text-base font-bold uppercase text-brand">Next Article</div>
          <div class="text-sm text-navy">{{ blog.next_article.title }}</div>
        </a>
      </div>
    {% endif %}
   
  </div>
</div>

{% schema %}
  {
    "name": "Article Next",
    "tag": "section",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Article Next"
      }
    ]
  }
{% endschema %}