<div class="bg-cream md:bg-bg text-text" style="--color-text: {{ section.settings.text_color | default: '#000000' }}; --color-bg: {{ section.settings.bg_color | default: '#f7f7f7' }}">
  <div class="px-4 py-4 pb-12 mx-auto max-w-screen-2xl md:px-12 md:py-24 md:h-fit">
    {%- unless section.settings.heading == blank -%}
      <div class="max-w-4xl mb-8 space-y-4 text-left md:mb-12">
        <h2 class="text-4xl md:text-7xl">{{ section.settings.heading | escape }}</h2>
        {% if section.settings.description != blank %}
          <p> {{ section.settings.description }}</p>
        {% endif %}
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      {% comment %} Desktop {% endcomment %}
      <div>
        <ul class="hidden md:grid pb-4 grid-cols-4 md:grid-cols-8 grid-rows-4 md:grid-rows-8 overflow-y-hidden gap-2 {% if section.settings.mobile_scroll %} flex overflow-x-scroll md:overflow-x-hidden overscroll-x-contain snap-x snap-mandatory scroll-p-8 {% endif %}" role="list">
          {%- for article in section.settings.blog.articles limit: section.settings.desktop_post_limit -%}
            <li class="w-[203px] rounded-2xl h-60 md:h-full motion-safe:transition-all motion-safe:duration-700 snap-start shrink-0 md:w-full
              {% if forloop.first %}
              md:col-span-5 md:row-span-3 row-span-2 md:col-start-4 md:row-start-1 col-span-2
               {% elsif forloop.index == 2 %}
              md:col-span-3 md:row-span-5 md:col-start-1 row-span-2 md:row-start-1 col-span-2
              {% elsif forloop.index == 3 %}
               md:col-span-3 md:row-span-3 md:col-start-1 row-span-2 md:row-start-6  col-span-2
              {% elsif forloop.index == 4 %}
              md:col-span-3 md:row-span-5 md:col-start-4 row-span-2 md:row-start-4 col-span-2
              {% elsif forloop.index == 5 %}
              md:col-span-2 md:row-span-5 md:col-start-7 row-span-2 md:row-start-4 col-span-2
              {% endif %}
              ">
              
              {% render 'article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, classes:"rounded-2xl" %}
            </li>
          {%- endfor -%}
        </ul>

        {% comment %} mobile {% endcomment %}
        {% assign half_limit = section.settings.post_limit | divided_by: 2 %}
        {% assign offset_limit = section.settings.post_limit | minus: half_limit %}
        
        <div class="md:hidden pb-4  grid-cols-4 md:grid-cols-8 grid-rows-4 md:grid-rows-8 overflow-y-hidden gap-2 {% if section.settings.mobile_scroll %}  overflow-x-scroll md:overflow-x-hidden overscroll-x-contain snap-x snap-mandatory scroll-p-8 {% endif %}">
        <ul class="flex grid-cols-4 grid-rows-4 gap-2 pb-4 md:grid md:grid-cols-8 md:grid-rows-8 " role="list">
          {%- for article in section.settings.blog.articles limit: half_limit -%}
            <li class="w-[203px] rounded-2xl h-60 md:h-full motion-safe:transition-all motion-safe:duration-700 snap-start shrink-0 md:w-full
              {% if forloop.first %}
              md:col-span-5 md:row-span-3 row-span-2 md:col-start-4 md:row-start-1 col-span-2
               {% elsif forloop.index == 2 %}
              md:col-span-3 md:row-span-5 md:col-start-1 row-span-2 md:row-start-1 col-span-2
              {% elsif forloop.index == 3 %}
               md:col-span-3 md:row-span-3 md:col-start-1 row-span-2 md:row-start-6  col-span-2
              {% elsif forloop.index == 4 %}
              md:col-span-3 md:row-span-5 md:col-start-4 row-span-2 md:row-start-4 col-span-2
              {% elsif forloop.index == 5 %}
              md:col-span-2 md:row-span-5 md:col-start-7 row-span-2 md:row-start-4 col-span-2
              {% endif %}
              ">
              
              {% render 'article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, classes:"rounded-2xl" %}
            </li>
          {%- endfor -%}
        </ul>
        
        <ul class="flex grid-cols-4 grid-rows-4 gap-2 pb-4 md:grid md:grid-cols-8 md:grid-rows-8 " role="list">
          {%- for article in section.settings.blog.articles offset: half_limit limit: half_limit -%}
            <li class="w-[203px] rounded-2xl h-60 md:h-full motion-safe:transition-all motion-safe:duration-700 snap-start shrink-0 md:w-full
              {% if forloop.first %}
              md:col-span-5 md:row-span-3 row-span-2 md:col-start-4 md:row-start-1 col-span-2
               {% elsif forloop.index == 2 %}
              md:col-span-3 md:row-span-5 md:col-start-1 row-span-2 md:row-start-1 col-span-2
              {% elsif forloop.index == 3 %}
               md:col-span-3 md:row-span-3 md:col-start-1 row-span-2 md:row-start-6  col-span-2
              {% elsif forloop.index == 4 %}
              md:col-span-3 md:row-span-5 md:col-start-4 row-span-2 md:row-start-4 col-span-2
              {% elsif forloop.index == 5 %}
              md:col-span-2 md:row-span-5 md:col-start-7 row-span-2 md:row-start-4 col-span-2
              {% endif %}
              ">
              
              {% render 'article-card', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author, classes:"rounded-2xl" %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      </div>

      {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        <div class="mt-12 text-center">
          <a href="{{ section.settings.blog.url }}" class="button--text">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {%- endif -%}

    {%- else -%}
      <div class="blog-placeholder">
        <div class="relative placeholder aspect-video">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog Posts",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },{
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "desktop_post_limit",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 5,
      "label": "Desktop Limit"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 5,
      "label": "Mobile Limit"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show image?"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": false,
      "label": "Show date?"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "Show author?"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show all?"
    },
    {
      "type": "checkbox",
      "id": "mobile_scroll",
      "default": true,
      "label": "Scroll on mobile"
    }
  ],
  "presets": [
    {
      "name": "Blog Posts",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
