
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607148986851197874.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607148986851197874.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607148986851197874.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607148986851197874.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607148986851197874.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607148986851197874.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607148986851197874.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607148986851197874.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607148986851197874.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-607148986851197874.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607148986851197874.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607148986851197874.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-607148986851197874.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607148986851197874.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607148986851197874.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607148986851197874.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-607148986851197874.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607148986851197874.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607148986851197874.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607148986851197874.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607148986851197874.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-607148986851197874.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607148986851197874.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607148986851197874.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607148986851197874.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-607148986851197874.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607148986851197874.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607148986851197874.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607148986851197874.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-607148986851197874.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-607148986851197874.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607148986851197874.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607148986851197874.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607148986851197874.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-607148986851197874.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607148986851197874.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607148986851197874.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607148986851197874.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607148986851197874.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607148986851197874.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-607148986851197874.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607148986851197874.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607148986851197874.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607148986851197874.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607148986851197874.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607148986851197874.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607148986851197874.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607148986851197874.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607148986851197874.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607148986851197874.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607148986851197874.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607148986851197874.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-607148986851197874.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607148986851197874.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607148986851197874.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607148986851197874.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607148986851197874.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607148986851197874.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607148986851197874.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-607148986851197874.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-607148986851197874.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607148986851197874.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-607148986851197874.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607148986851197874.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607148986851197874.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607148986851197874.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607148986851197874.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607148986851197874.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607148986851197874.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607148986851197874.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607148986851197874.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-607148986851197874 .-gp-rotate-90,.gps-607148986851197874 .gp-rotate-180,.gps-607148986851197874 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-607148986851197874 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-607148986851197874 .gp-relative{position:relative}.gps-607148986851197874 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607148986851197874 .gp-mb-0{margin-bottom:0}.gps-607148986851197874 .gp-flex{display:flex}.gps-607148986851197874 .gp-inline-flex{display:inline-flex}.gps-607148986851197874 .gp-grid{display:grid}.gps-607148986851197874 .\!gp-hidden{display:none!important}.gps-607148986851197874 .gp-hidden{display:none}.gps-607148986851197874 .gp-min-h-0{min-height:0}.gps-607148986851197874 .gp-w-full{width:100%}.gps-607148986851197874 .gp-max-w-full{max-width:100%}.gps-607148986851197874 .-gp-rotate-90{--tw-rotate:-90deg}.gps-607148986851197874 .-gp-rotate-90,.gps-607148986851197874 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607148986851197874 .gp-rotate-180{--tw-rotate:180deg}.gps-607148986851197874 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-607148986851197874 .gp-cursor-pointer{cursor:pointer}.gps-607148986851197874 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-607148986851197874 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607148986851197874 .gp-flex-col{flex-direction:column}.gps-607148986851197874 .gp-items-center{align-items:center}.gps-607148986851197874 .gp-justify-center{justify-content:center}.gps-607148986851197874 .gp-gap-\[16px\]{gap:16px}.gps-607148986851197874 .gp-overflow-hidden{overflow:hidden}.gps-607148986851197874 .gp-overflow-clip{overflow:clip}.gps-607148986851197874 .gp-break-all{word-break:break-all}.gps-607148986851197874 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-607148986851197874 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607148986851197874 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607148986851197874 .gp-duration-200{transition-duration:.2s}.gps-607148986851197874 .gp-duration-500{transition-duration:.5s}.gps-607148986851197874 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-607148986851197874 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-607148986851197874 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-607148986851197874 .tablet\:\!gp-hidden{display:none!important}.gps-607148986851197874 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607148986851197874 .mobile\:\!gp-hidden{display:none!important}.gps-607148986851197874 .mobile\:gp-hidden{display:none}}.gps-607148986851197874 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-607148986851197874 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-607148986851197874 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUZlCZrwsU"}' data-id="gUZlCZrwsU" id="gUZlCZrwsU" data-same-height-subgrid-container class="gUZlCZrwsU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mr:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:10px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIpk0joTwh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGRBcZpCs6"}' data-id="gGRBcZpCs6" id="gGRBcZpCs6" data-same-height-subgrid-container class="gGRBcZpCs6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggi-6Pchii gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g34cF7Ioxz"
        class="g34cF7Ioxz"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg34cF7Ioxz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggQPI_bjW_"}' data-id="ggQPI_bjW_" id="ggQPI_bjW_" data-same-height-subgrid-container class="ggQPI_bjW_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7-oI7kUYg gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:var(--g-s-xl)" class="gqzWBcrXNA ">
      
    <gp-accordion data-id="gqzWBcrXNA" class="gp-flex gp-flex-col gp-w-full" style="--gg:24px;--gg-mobile:21px;border-radius:inherit"
      gp-data='{"uid":"gqzWBcrXNA","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                    <path d=\"M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z\" fill=\"currentColor\"/>\n                    </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gqzWBcrXNA","childListNumber":[],"chidlrenUid":["gzkGXb_uFD","gOTEbrHXLE","gMyv3XQNMy","g-0UwHAJm2"]},"styles":{"bgColor":{"active":"transparent"},"color":{"active":"#575757","hover":"#B4B4B4","normal":"#B4B4B4"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"gap":"21px","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="0" class="gqzWBcrXNA gp-overflow-hidden gp-child-item-gqzWBcrXNA gp-accordion-item">
      <div aria-hidden uid="gzkGXb_uFD" id="gzkGXb_uFD" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gqzWBcrXNA gp-accordion-item-gqzWBcrXNA-0" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqzWBcrXNA_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gf9EtNeFG8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gufosgqD8_"
        class="gufosgqD8_"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggufosgqD8__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="1" class="gqzWBcrXNA gp-overflow-hidden gp-child-item-gqzWBcrXNA gp-accordion-item">
      <div aria-hidden uid="gOTEbrHXLE" id="gOTEbrHXLE" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gqzWBcrXNA gp-accordion-item-gqzWBcrXNA-1" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqzWBcrXNA_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gitamDA87A gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvTXmAqSlk"
        class="gvTXmAqSlk"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvTXmAqSlk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="2" class="gqzWBcrXNA gp-overflow-hidden gp-child-item-gqzWBcrXNA gp-accordion-item">
      <div aria-hidden uid="gMyv3XQNMy" id="gMyv3XQNMy" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gqzWBcrXNA gp-accordion-item-gqzWBcrXNA-2" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="2"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqzWBcrXNA_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="g5Mhz9AjGq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd9CVWV8Oo"
        class="gd9CVWV8Oo"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd9CVWV8Oo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="3" class="gqzWBcrXNA gp-overflow-hidden gp-child-item-gqzWBcrXNA gp-accordion-item">
      <div aria-hidden uid="g-0UwHAJm2" id="g-0UwHAJm2" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gqzWBcrXNA gp-accordion-item-gqzWBcrXNA-3" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="3"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqzWBcrXNA_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gzOkOgYdtp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGzD05QpRq"
        class="gGzD05QpRq"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGzD05QpRq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gQ0RkJMFRV gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px" class="glxyFhpObR ">
      
    <gp-accordion data-id="glxyFhpObR" class="gp-flex gp-flex-col gp-w-full" style="--gg:24px;border-radius:inherit"
      gp-data='{"uid":"glxyFhpObR","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                    <path d=\"M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z\" fill=\"currentColor\"/>\n                    </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"glxyFhpObR","childListNumber":[],"chidlrenUid":["gkplu9Zw7O","goJ3BaQyq2"]},"styles":{"bgColor":{"active":"transparent"},"color":{"active":"#575757","hover":"#B4B4B4","normal":"#B4B4B4"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"24px","right":"24px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="0" class="glxyFhpObR gp-overflow-hidden gp-child-item-glxyFhpObR gp-accordion-item">
      <div aria-hidden uid="gkplu9Zw7O" id="gkplu9Zw7O" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] glxyFhpObR gp-accordion-item-glxyFhpObR-0" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="0"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglxyFhpObR_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gxczsPPWaF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmFQXT5WBV"
        class="gmFQXT5WBV"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmFQXT5WBV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#B4B4B4;--icon-expand-active-color:#575757;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div data-index="1" class="glxyFhpObR gp-overflow-hidden gp-child-item-glxyFhpObR gp-accordion-item">
      <div aria-hidden uid="goJ3BaQyq2" id="goJ3BaQyq2" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] glxyFhpObR gp-accordion-item-glxyFhpObR-1" style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#B4B4B4;width:16px;height:16px"
            data-index="1"
            class="gp-rotate-90 group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.1763V3.82365C4 3.15846 4.88548 2.7686 5.52991 3.15006L12.5853 7.32641C13.1382 7.65374 13.1382 8.34626 12.5853 8.67359L5.52991 12.8499C4.88548 13.2314 4 12.8415 4 12.1763Z" fill="currentColor"/>
                    </svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglxyFhpObR_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gONM4k419N gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXqsiHg2xM"
        class="gXqsiHg2xM"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXqsiHg2xM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-607148986851197874 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/berkeleylife/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607148986834355122&sectionId=607148986851197874)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg34cF7Ioxz_text","label":"gg34cF7Ioxz_text","default":"<u>Frequently asked questions</u>"},{"type":"html","id":"ggqzWBcrXNA_childItem_0","label":"ggqzWBcrXNA_childItem_0","default":"<p>How long until I see results?</p>"},{"type":"html","id":"ggqzWBcrXNA_childItem_1","label":"ggqzWBcrXNA_childItem_1","default":"<p>What's the correct dosage and how should I take it?</p>"},{"type":"html","id":"ggqzWBcrXNA_childItem_2","label":"ggqzWBcrXNA_childItem_2","default":"<p><strong>Can I take this with my current prescription medication?</strong></p>"},{"type":"html","id":"ggqzWBcrXNA_childItem_3","label":"ggqzWBcrXNA_childItem_3","default":"<p><strong>Will this replace my need for medication?</strong></p>"},{"type":"html","id":"ggufosgqD8__text","label":"ggufosgqD8__text","default":"<p>Results vary, some notice a difference right away, while others see benefits after about a month. Consistency is key, and test strips can validate improvements quickly.</p>"},{"type":"html","id":"ggvTXmAqSlk_text","label":"ggvTXmAqSlk_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(11,11,11);font-size:16px;\">Take two capsules daily with water, preferably after a meal.</span></p>"},{"type":"html","id":"ggd9CVWV8Oo_text","label":"ggd9CVWV8Oo_text","default":"<p>Yes. Berkeley Life is safe to use alongside prescription ED medications. They work through different mechanisms—Berkeley Life supports nitric oxide production (foundational), while medications block PDE5 enzymes (symptom management). Many men value having both approaches working together. Always discuss additions to your protocol with your healthcare provider.</p>"},{"type":"html","id":"ggGzD05QpRq_text","label":"ggGzD05QpRq_text","default":"<p>Berkeley Life supports foundational blood flow health. Some men find their overall vascular health improves significantly with consistent use, which they discuss with their doctors during regular checkups. Our focus is on providing root-cause support that complements your existing protocol, not replacing other treatments.</p>"},{"type":"html","id":"gglxyFhpObR_childItem_0","label":"gglxyFhpObR_childItem_0","default":"<p><strong>How is this different from what my medication does?</strong></p>"},{"type":"html","id":"gglxyFhpObR_childItem_1","label":"gglxyFhpObR_childItem_1","default":"<p><strong>What improvements should I expect?</strong></p>"},{"type":"html","id":"ggmFQXT5WBV_text","label":"ggmFQXT5WBV_text","default":"<p>Medications force temporary blood vessel dilation by blocking PDE5 enzymes. Berkeley Life supports your body's natural nitric oxide production, which affects blood flow continuously, not just temporarily. It's the difference between forcing a response and supporting the natural mechanism.</p>"},{"type":"html","id":"ggXqsiHg2xM_text","label":"ggXqsiHg2xM_text","default":"<p>Most men notice improved morning readiness within 2 weeks (sign of better natural blood flow), more sustained energy throughout the day, faster recovery from exercise, and overall sense of vitality. Test strips show objective improvement in nitric oxide levels. You're supporting total cardiovascular health, not just one symptom.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}