<div class="max-w-screen-lg px-4 mx-auto my-8 md:px-8" style="--color-text: {{ section.settings.text_color | default: '#000000' }}; --color-bg: {{ section.settings.bg_color | default: '#FFFFFF' }}">
     
      <div class="relative grid grid-cols-1 gap-4 py-6 mx-auto rounded-lg md:rounded-full md:grid-cols-4 md:p-6 bg-bg max-w-prose md:max-w-screen-md ">
        <div class="w-1/2 p-4 -left-4 md:w-52 md:-translate-y-1/2 md:absolute top-1/2">
                {{ section.settings.svg | replace_first: '<svg', '<svg class="w-full h-full" aria-hidden="true" focusable="false" role="presentation"' }}
        </div>
        <div class="p-4 md:col-span-3 md:col-start-2 text-text">
            <div class="text-lg">{{ section.settings.heading }}</div>
            <span class="text-lg !tracking-[-0.38px] font-secondaryHeader">{{ section.settings.disclaimer }}</span>
        </div>
      </div>
</div>
  
  {% schema %}
  {
    "name": "Guarantee Callout",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Image and Color Settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },{
        "type": "html",
        "id": "svg",
        "label": "SVG for Icon",
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "If you are not 100% satisfied with any of our products, simply return them within 30 days for a full refund*. No questions asked.",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "disclaimer",
        "default": "*Full purchase price before shipping.",
        "label": "Disclaimer"
      },
    ],
   
    "presets": [
      {
        "name": "Guarantee Callout",
      }
    ]
  }
  {% endschema %}