{%-liquid
    assign show = true
    assign now = 'now' | date: '%s' | times: 1
    assign start_date = section.settings.start_date | default: 'now' | date: '%s' | times: 1
    assign end_date = section.settings.end_date | date: '%s' | times: 1
    if start_date > now
      assign show = false
    endif
    if end_date > 0 and end_date < now
      assign show = false
    endif
  -%}
  {%- if show -%}
    <div class="bg-cream" style="--color-text: {{ section.settings.text_color | default: '#090909' }}; --color-bg: {{ section.settings.bg_color | default: '#F6F3F0' }}">
      <div class="{% unless section.settings.full_width %}max-w-screen-xl mx-auto px-8 {{ section.settings.mobile_spacing_bottom | prepend: 'pb-' }} {{ section.settings.mobile_spacing_top | prepend: 'pt-' }} {{ section.settings.spacing_top | prepend: 'md:pt-' }} {{ section.settings.spacing_bottom | prepend: 'md:pb-' }}{% endunless %} text-text">
        <div class="relative grid grid-cols-1 overflow-hidden md:grid-cols-2">
          <h1 class="absolute z-10 justify-center hidden md:text-left w-full mb-20 text-center -translate-x-1/2 -translate-y-1/2 md:grid md:gap-20 md:grid-cols-2 gap-x-12 motion-safe:transition-all motion-safe:duration-700 h1 !text-[6vw] left-1/2 top-14 split-md:top-[40%] split-lg:top-1/2">
            {{ section.settings.heading | replace_first: "**", "<span class='text-right font-secondaryHeader'>" | replace: "**", "</span>" }}
          </h1>
          <div class="relative  h-full {% if section.settings.layout == 'text_first' %}md:order-1{% endif %}">
            <h1 class="absolute bottom-0 z-10 justify-center tracking-[-1.86px] !text-[62px] block w-full text-center -translate-x-1/2 -translate-y-1/2 font-secondaryHeader md:hidden gap-x-12 motion-safe:transition-all motion-safe:duration-700 h1 left-1/2">
              {{ section.settings.mobile_heading | replace_first: "**", "<span class='font-secondaryHeader'>" | replace: "**", "</span>" }}
            </h1>
            <div class="aspect-[5/3] md:aspect-[4/3] relative w-full h-full ">
              {%- liquid
              if section.settings.video_file != blank
                render 'video-autoplay', id: section.id, video: section.settings.video_file, fit: section.settings.image_cover
              else
                if section.settings.image != blank
                  render 'image', image: section.settings.image, fit: section.settings.image_cover, eager: section.settings.eager, classes: 'h-full w-full rounded-[4.5rem]'
                else
                  echo 'image' | placeholder_svg_tag: 'placeholder-svg'
                endif
              endif
            -%}
            </div>
          </div>
  
          <div class="flex flex-col bg-bg rounded-[4.5rem] md:justify-end split-sm:p-12 p-6 md:p-8 lg:p-24 h-full space-y-6 w-full  {{ section.settings.text_align | default: 'text-left' }}">
            <h1 class="z-10 justify-center block w-full text-center md:hidden gap-x-12 motion-safe:transition-all motion-safe:duration-700 text-5xl	md!text-8xl	 font-header">
              {{ section.settings.mobile_heading_2 | replace_first: "**", "<span class='font-secondaryHeader'>" | replace: "**", "</span>" }}
            </h1>
                <div class="grid items-end grid-cols-1 gap-4 mt-24 ">
                        <div
                            class="col-span-1 prose-lg md:max-w-xl motion-safe:transition-all motion-safe:duration-700 list_div"
                            {{ section.shopify_attributes }}>
                            {{ section.settings.text }}
                        </div>
                       
                        {% if section.settings.product_image %}
                            {% render 'image', image: section.settings.product_image, classes: "hidden split-sm:block w-40" %}
                        {% endif %}
                        <div
                          
                          class="{{ section.settings.text_align | default: 'text-left' }} motion-safe:transition-all motion-safe:duration-700">
                          <a
                          {%- if section.settings.button_link != blank %}
                          href="{{ section.settings.button_link }}"
                          {% endif %}
                          class="{{ section.settings.button_style }} button--primary md:px-24 button w-full max-w-full"
                          {% if section.settings.button_link == blank %}
                          aria-disabled="true"
                          {% endif %}
                          {{ section.shopify_attributes }}>
                          {{ section.settings.button_label | escape }}
                          </a>
                        </div>
                    </div>
                </div>  
             </div>
      </div>
    </div>
  {%- endif -%}
  
  {% schema %}
  {
    "name": "Hero Image and Text",
    "settings": [
      {
        "type": "header",
        "content": "Image and Color Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "checkbox",
        "id": "eager",
        "label": "Eager load the image?",
        "default": false,
        "info": "Enable this when this is the first image on the page."
      },
      {
        "type": "text",
        "id": "video_file",
        "label": "Video",
        "info": "This file, which you can upload to the [file page](/admin/settings/files), will override the image and autoplay muted and looped."
      },
      {
        "type": "select",
        "id": "image_cover",
        "options": [
          {
            "value": "object-cover",
            "label": "Cover"
          },
          {
            "value": "object-contain",
            "label": "Contain"
          }
        ],
        "default": "object-cover",
        "label": "Image Stretch",
        "info": "Whether the image or video stretches to the container of shrinks to fit."
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "image_first",
            "label": "Image First"
          },
          {
            "value": "text_first",
            "label": "Text First"
          }
        ],
        "default": "image_first",
        "label": "Image Order on Desktop",
        "info": "Will default to image first on mobile."
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "header",
        "content": "Heading and Text Settings"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Align Text",
        "options": [
          {
            "value": "text-center",
            "label": "Center all"
          },
          {
            "value": "text-left",
            "label": "Left all"
          },
          {
            "value": "text-right",
            "label": "Right all"
          },
          {
            "value": "text-center md:text-left",
            "label": "Desktop left, Mobile center"
          },
          {
            "value": "text-center md:text-right",
            "label": "Desktop right, Mobile center"
          }
        ],
        "default": "text-center md:text-left"
      },
      {
        "type": "header",
        "content": "Padding and Margin Settings"
      },
      {
        "type": "range",
        "id": "spacing_top",
        "label": "Spacing top",
        "unit": "x",
        "min": 0,
        "max": 40,
        "step": 8,
        "default": 16
      },
      {
        "type": "range",
        "id": "mobile_spacing_top",
        "label": "Mobile Spacing Top",
        "unit": "x",
        "min": 0,
        "max": 40,
        "step": 4,
        "default": 8
      },
      {
        "type": "range",
        "id": "spacing_bottom",
        "label": "Spacing bottom",
        "unit": "x",
        "min": 0,
        "max": 40,
        "step": 8,
        "default": 16
      },
      {
        "type": "range",
        "id": "mobile_spacing_bottom",
        "label": "Mobile Spacing bottom",
        "unit": "x",
        "min": 0,
        "max": 40,
        "step": 4,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width?",
        "default": false
      },
      {
        "type": "header",
        "content": "Scheduling",
        "info": "Enter a start date and/or end date to hide and show this section on a schedule."
      },
      {
        "type": "text",
        "id": "start_date",
        "label": "Start Date",
        "info": "Defaults to now"
      },
      {
        "type": "text",
        "id": "end_date",
        "label": "End Date",
        "info": "Defaults to never",
        "placeholder": "2021-12-31 23:59 EST"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Image with text",
        "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
      },
      {
        "type": "text",
        "id": "mobile_heading",
        "default": "Healthy Aging",
        "label": "Mobile Heading 1"
      },
      {
        "type": "text",
        "id": "mobile_heading_2",
        "default": "Starts with N.O",
        "label": "Mobile Heading 2"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "t:sections.image-with-text.blocks.text.settings.text.label"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
        "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
      }
    ],
    "presets": [
      {
        "name": "Hero Image and Text"
      }
    ]
  }
  {% endschema %}