<div class="md:p-8 p-4 space-y-4 text-center bg-gray-100">
  <ul class="flex items-center justify-center gap-8" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_twitter_link }}" aria-describedby="a11y-external-message">
          {%- render 'icon-twitter' -%}
          <span class="sr-only">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_facebook_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-facebook' -%}
          <span class="sr-only">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_pinterest_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-pinterest' -%}
          <span class="sr-only">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_instagram_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-instagram' -%}
          <span class="sr-only">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_tiktok_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-tiktok' -%}
          <span class="sr-only">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_tumblr_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-tumblr' -%}
          <span class="sr-only">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_snapchat_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-snapchat' -%}
          <span class="sr-only">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_youtube_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-youtube' -%}
          <span class="sr-only">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="w-6">
        <a href="{{ settings.social_vimeo_link }}"  aria-describedby="a11y-external-message">
          {%- render 'icon-vimeo' -%}
          <span class="sr-only">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
  <small class="block">{{ 'general.password_page.admin_link_html' | t }}</small>
    <div>
      {%- form 'storefront_password', class: 'password-form' -%}
      <details {% if form.errors %}open{% endif %}>
        <summary><small class="underline">Log In with Storefront Password</small></summary>
        <div class="p-4 space-y-4 text-center">
          <label class="" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
          <input
            type="password"
            name="password"
            id="Password"
            class=""
            autocomplete="current-password"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="PasswordLoginForm-password-error"
            {%- endif -%}
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          >
          {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status" class="text-center">
              <span class="sr-only">{{ 'accessibility.error' | t }}</span>
              <span class="flex items-center justify-center gap-2"><span class="w-4">{% render 'icon-error' %}</span> {{ 'general.password_page.login_form_error' | t }}</span>
            </div>
          {%- endif -%}
        </div>
        <button name="commit" class="password-button button button--outline">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </details>
      {%- endform -%}
    </div>

</div>

{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "settings": [

  ]
}
{% endschema %}
