<div class="h-screen border-b-2 border-black bg-bg" style="--color-text: {{ section.settings.text_color | default: '#000000' }}; --color-bg: {{ section.settings.bg_color | default: '#FFFFFF' }}">


  <div class="{% unless section.settings.full_width %}max-w-screen-xl mx-auto px-8 {{ section.settings.spacing_top | prepend: 'pt-' }} {{ section.settings.spacing_bottom | prepend: 'pb-' }}{% endunless %} bg-bg text-text">
    <div class="md:grid-cols-2 grid grid-cols-1 overflow-hidden {% if section.settings.full_width == false %}items-center {% endif %}">
      <div class="{% if section.settings.layout == 'text_first' %}md:order-1{% endif %}">
        <div class="{{ section.settings.image_ratio }} {% if section.settings.full_width %}h-full md:h-screen{% endif %}">
          {% if section.settings.full_width %}
          {%- liquid
            if section.settings.video_file != blank
              render 'video-autoplay', id: section.id, video: section.settings.video_file, fit: section.settings.image_cover
            else
              if section.settings.image != blank
                render 'image', image: section.settings.image, fit: section.settings.image_cover, eager: section.settings.eager, classes: ' border-black border-r-2 border-b-2 md:border-b-0'
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            endif
          -%}
          {% else %}
          {%- liquid
            if section.settings.video_file != blank
              render 'video-autoplay', id: section.id, video: section.settings.video_file, fit: section.settings.image_cover
            else
              if section.settings.image != blank
                render 'image', image: section.settings.image, fit: section.settings.image_cover, eager: section.settings.eager, classes: 'border-2 border-black'
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            endif
          -%}
          {% endif %}
        </div>
      </div>

      <div class=" flex flex-col justify-center  px-8 pt-8 pb-1 {% if section.settings.full_width == false %} px-0 {% endif %} md:p-24 h-full space-y-6 {{ section.settings.text_align | default: 'text-left' }} {% if section.settings.full_width %}{{ section.settings.spacing_top | prepend: 'pt-' }} {{ section.settings.spacing_bottom | prepend: 'pb-' }}{% endif %}">
        {%- assign first_heading = true -%}
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'icon' -%}
              {%- if block.settings.icon != blank -%}
                {% render 'image', image: block.settings.icon, classes: 'object-contain w-10' %}
              {%- endif -%}
            {%- when 'heading' -%}
              {%- if first_heading -%}
                <{{ block.settings.heading_level | default: 'p' }} class="{{ block.settings.heading_style }}" {{ block.shopify_attributes }}>
                  {{- block.settings.heading -}}
                </{{ block.settings.heading_level | default: 'p' }}>
              {%- else -%}
                <div class="{{ block.settings.heading_style }}" {{ block.shopify_attributes }}>
                  {{- block.settings.heading -}}
                </div>
              {%- endif -%}
              {%- assign first_heading = false -%}
            {%- when 'text' -%}
              <div class="rte" {{ block.shopify_attributes }}>
                {%- if block.settings.list_style == "bullets" -%}
                  <ul>{{ block.settings.text | replace: '--', '<li>' | replace: '/-', '</li>' }}</ul>
                {%- elsif block.settings.list_style == "numbers" -%}
                  <ol>{{ block.settings.text | replace: '--', '<li>' | replace: '/-', '</li>' }}</ol>
                {%- else -%}
                  {{ block.settings.text }}
                {%- endif -%}
              </div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
              <div class="{{ section.settings.text_align | default: 'text-left' }}">
                <a {% if block.settings.new_tab %}target="_blank"{% endif %} {%- if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="font-bold {{ block.settings.button_style }} {% if block.settings.button_style == 'button--text' %}{% if section.settings.text_color == '#ffffff' %}after:bg-white {% endif %}  {% endif %} w-full max-w-full"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
        <div {{ block.shopify_attributes }}>
          {% form 'customer', class: '' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="w-full">
              <div class="flex items-center mx-auto mb-8 border-b border-current border-solid focus-within:text-brand">
                <label class="sr-only" for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="w-full px-0 placeholder-current bg-transparent border border-transparent border-solid focus:ring-transparent focus:border-transparent"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="Email Address"
                  required
                >
                <button class="w-1/2 font-bold text-right" type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                  {{ 'newsletter.button_label' | t }}
                </button>
              </div>
              <button class="w-full font-bold text-right button" type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                {{ 'newsletter.button_label' | t }}
              </button>
              {%- if form.errors -%}
                <small class="text-warm-red" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3 class="" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
            {%- endif -%}
            <div>

            </div>
          {% endform %}
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password Signup",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "eager",
      "label": "Eager load the image?",
      "default": false,
      "info": "Enable this when this is the first image on the page."
    },
    {
      "type": "text",
      "id": "video_file",
      "label": "Video",
      "info": "This file, which you can upload to the [file page](/admin/settings/files), will override the image and autoplay muted and looped."
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "aspect-w-16 aspect-h-9",
          "label": "Wider"
        },
        {
          "value": "aspect-w-4 aspect-h-3",
          "label": "Wide"
        },
        {
          "value": "aspect-w-3 aspect-h-4",
          "label": "Portrait"
        },
        {
          "value": "aspect-w-1 aspect-h-1",
          "label": "Square"
        },
        {
          "value": "aspect-w-1 aspect-h-1 rounded-full",
          "label": "Circle"
        }
      ],
      "default": "aspect-w-1 aspect-h-1",
      "label": "Image Ratio"
    },
    {
      "type": "select",
      "id": "image_cover",
      "options": [
        {
          "value": "object-cover",
          "label": "Cover"
        },
        {
          "value": "object-contain",
          "label": "Contain"
        }
      ],
      "default": "object-cover",
      "label": "Image Stretch",
      "info": "Whether the image or video stretches to the container of shrinks to fit."
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Align Text",
      "options": [
        {
          "value": "text-center",
          "label": "Center all"
        },
        {
          "value": "text-left",
          "label": "Left all"
        },
        {
          "value": "text-right",
          "label": "Right all"
        },
        {
          "value": "text-center md:text-left",
          "label": "Desktop left, Mobile center"
        },
        {
          "value": "text-center md:text-right",
          "label": "Desktop right, Mobile center"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image First"
        },
        {
          "value": "text_first",
          "label": "Text First"
        }
      ],
      "default": "image_first",
      "label": "Image Order on Desktop",
      "info": "Will default to image first on mobile."
    },
    {
      "type": "range",
      "id": "spacing_top",
      "label": "Spacing top",
      "unit": "x",
      "min": 0,
      "max": 40,
      "step": 8,
      "default": 16
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "unit": "x",
      "min": 0,
      "max": 40,
      "step": 8,
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width?",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading Heirarchy",
          "info": "Keep in mind, there should never be more than one H! on a page",
          "default": "p",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "p",
              "label": "Paragraph"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_style",
          "label": "Heading Style",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "subhead",
              "label": "Small Caps"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "list_style",
          "label": "List Style",
          "info": "(Optional) If you want this rich text block to display each paragraph as a list, select an option for that below. Start each point with '--'",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "bullets",
              "label": "Bullets"
            },
            {
              "value": "numbers",
              "label": "Numbers"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open link in new tab?",
          "default": false
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "default": "button button--primary",
          "options": [
            {
              "value": "button button--primary",
              "label": "Primary Button"
            },
            {
              "value": "button button--secondary",
              "label": "Secondary Button"
            },
            {
              "value": "button button--tertiary",
              "label": "Tertiary Button"
            },
            {
              "value": "button--text",
              "label": "Text Link"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Password Signup",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
